<div class="card flex justify-content-center mb-5">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <form [formGroup]="todoForm" (ngSubmit)="addTask()">
            <div class="text-center mb-5">
                <div class="text-900 text-3xl font-bold mb-3 text-orange-500">ToDo</div>
            </div>
            <p-fieldset legend="Add Task" [toggleable]="true" [collapsed]="false">
                <label for="description" class="block text-900 font-medium mb-2">Description</label>
                <input id="description" type="text" placeholder="Do project.." value="test" pInputText
                    class="w-full mb-3" formControlName="description">


                <div class="flex flex-wrap">
                    <div class="flex-wrap w-8">
                        <div class="flex align-items-center mb-3">
                            <div class="pi pi-flag mr-1"></div>
                            @for (priority of priorities; track priority) {
                            <p-radioButton class="ml-2" [inputId]="priority" [value]="priority"
                                formControlName="priority"></p-radioButton>
                            <label [for]="priority" class="ml-2">{{ priority }}</label>
                            }
                        </div>
                        <div class="mb-3 mr-2">
                            <p-calendar [showIcon]="true" formControlName="dueDate" dateFormat="dd/mm/yy"></p-calendar>
                        </div>
                    </div>
                    <div class="flex">
                            <p-button type="submit" pButton pRipple label="Add task" icon="pi pi-plus"
                                [disabled]="todoForm.invalid"></p-button>
                    </div>
                </div>

            </p-fieldset>
        </form>
    </div>
</div>