<!-- @if (taskList.length > 0) { -->
<div class="card flex justify-content-center mb-5">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-bold mb-3 text-orange-500">Task</div>
        </div>

        @for (task of taskList; track task) {
        <div class="surface-card p-4 shadow-1 border-round w-full mb-1">
            <div class="text-700 text-xl font-semibold mb-3">
                {{ task.description}}
            </div>

            <div class="relative gap-3 align-items-center justify-content-center">
                <div class="absolute left-0">
                    {{ task.priority}}
                </div>
                <div class="absolute right-0">
                    {{ task.dueDate | date: 'd MMM' }}
                </div>
            </div>
        </div>
        }
        <div class="surface-card p-4 shadow-1 border-round w-full mb-1">
            <div class="text-700 text-xl font-semibold mb-3">
                Test
            </div>
            <div class="relative gap-3 align-items-center justify-content-center">
                <div class="absolute left-0">
                    Low
                </div>
                <div class="absolute right-0">
                    Today
                </div>
            </div>
        </div>

    </div>
</div>
<!-- } -->